<!doctype html>
<html lang="en">
    <head>
        <meta name="description" content="Collection of a bunch of my projects" />
        <meta charset="utf-8">
        <title>My Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="mart368b">
        <link rel="stylesheet" href="static/css/style.css">
        <script type="text/javascript" src="static/js/index.js"></script>
    </head>

    <body>
        <h1>Projects</h1>
        <ul>
            <li><a href="screen-saver">Screen saver</a></li>
            <li><a href="bounty-calculator">Bounty calculator</a></li>
            <li>Milk</li>
        </ul>  
    </body>
</html>